@media screen and (max-widht: 1000px) {
   p {
    font-size: 0.9rem;
    line-height: 1.8rem;
   }

   .grid-3 {
    gap: 3rem;
   }

   .skills-right ul li {
    font-size: 0.9rem;
   }


}

@media screen and (max-widht: 825px) {
    /*burger*/
    .burger {
        display: block;
        cursor: pointer;
    }

    .toogle-burger .line-1 {
        transform: rotate(-45deg)  translate(-5px, 7px);
    }

    .toogle-burger .line-2 {
        opacity: 0;
    }

    .toogle-burger .line-3 {
        transform: rotate(45deg)  translate(-5px, -7px);
    }

    /*navigation*/
    nav {
        position: fixed;
        width: 50%;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background: var(--primary-color);
        border-left: 1px solid var(--border-color);
        z-index: 9;
        transform: translateX(100%);
        transition: 0.2s ease-in-out;
    }

    nav ul{
        height: 100vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .nav-active {
        transform: translateX(0);

    }

    :root {
        --sectionPadding: 4rem 0;
    }

    .section-title {
        font-size: 1.6rem;
        margin: 0.6rem 0 2.5rem;
    }

    .pre-title {
        font-size: 0.8rem;
    }

    /*hero section*/
    #hero {
        grid-template-columns: 1fr;
        height: fit-content;      
    }

    .hero_right {
        order: -1;
    }

    .hero_right img{
       width: 70%;
    }

    .hero_left {
        text-align: center;
        padding-bottom: 5rem;
    }

    .hero_left .pre-title{
        margin: 0 auto;        
    }

    .hero_name {
        font-size: 2.3rem;
        margin-bottom: 0.5rem;
    }

    /*footer*/
    footer {
        padding: 2rem 0;
    }
}

@media screen and (max-widht: 640px) {
    /*title*/
    .section-title{
        font-size: 1.3rem;
    }

    .pre-title{
        font-size: 0.7rem;
    }
}