:root{
    --primary-color:#7dc8e6;
    --primary-color-dark: #888ae4;
    --secondary-color: #bbb9b6;
    --text-dark:#3566aa;
    --text-light:#1399e7;
    --extra-light:#0f0f0f;
    --border-color :#f1f1f1;
    --line-color :#313030;
    --itemborderradius :0.7rem;
    --sectionPadding :6rem 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

h1,h2,h3,h4,h5,h6 strong{
    color: var(--extra-light) ;
}

p{
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label, input, textarea, li{
    color: var(--secondary-color);
}

a{
    text-decoration: none;
}

.main_container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width : 1200px) {
    .main_container {
        width: 90%;
    }
}

/*Buttons*/
.btn {
    padding:  1rem 1.5rem;
    background: 1.5px solid var(--border-color);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}


/*title*/
.section-title{
    margin: 1rem 0 4rem;
    font-size: 2rem;
}
.pre-title{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondary-color);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before{
    content: "";
    width: 30px;
    height: 1px;
    background-color: var(--line-color);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/*layout*/
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}
/*LOGO and Navigation Menu*/
.nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700 2rem;
    font-size: 2rem;
}

.logo a{
    color: var(--text-dark);
}

nav ul li{
    display: flex;
    align-items: center;
}

nav ul li{
    color: var(--text-dark);
}

/*Burger*/
.burger div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger{
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

/*hero section*/
#hero{
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero_name{
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem  1rem;
}

.hero_name span{
    color: var(--primary-color);
}

.hero_right img{
    width: 90%;
}

.hero_right{
    display: flex;
    justify-content: center;
}

/*services section*/
#services{
    background-color: #f1f1f1;
    padding: var(--sectionPadding);
}

.services .pre-title{
    margin: 0 auto;
}

.services-title{
    text-align: center;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background-color: var(--border-color);
    border-radius: var(--itemborderradius);
}

.service h4{
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon{
    background-color: var(--text-light);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.service-icon svg{
    fill: var(--secondary-color);
}

/*skills & education*/
#skills{
    padding: var(--sectionPadding);
    background: var(--secondary-color);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, afr));
    gap: 3rem;
}

.education {
    display: flex;
    gap: 2rem;
}

.education .line{
    padding: 0 0.7rem;
}

.education .line div{
    width: 2px;
    height: 100%;
    background: var(--border-color);
    position: relative;
}

.education-info p{
    margin: 0.6rem 0 1.4rem;
}

.education-years {
    margin-bottom: 3rem;
}

/*the dot of education*/
.education .line div::before{
     content: " ";
     width: 15px;
     height: 15px;
     background: var(--border-color);
     border-radius: 50%;
     position: absolute;
     left: -6px;
}

.skills-list{
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills-right ul{
    line-height: 2rem;
    padding: 0 1rem;
}

/*contact*/
#contact{
    padding: var(--sectionPadding);
}

.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div{
    margin-bottom: 1.4rem;
}

.contact-form input , .contact-form textarea{
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    background: var(--border-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder, .contact-form textarea::placeholder{
    color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus{
    outline: none;
    border: 1px solid #7d7d7d;
}

.btn-submit{
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-submit:hover{
    background: var(--text-dark);
}

.contact-item {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2.5rem;
}

.contact-item-icon{
    background: var(--primary-color);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item-icon svg{
    fill: var(--border-color);
}

.contact-item-detail h4{
    margin-bottom: 0.6rem;
}

/*footer*/
footer {
    padding: 4rem 0;
    background: var(--line-color);
    text-align: center;
}

.footer-icons {
    margin-bottom: 0.5rem;
}

.footer-icons a{
    margin: 0 0.5rem;
}

.footer-icons svg{
    fill: #fff;
}

.footer-icons svg:hover{
    fill: #000;
}